html 
{
font-size: 62.5%
}

@media only screen and (min-width:321px) /*iphone5*/
{
    html { font-size: 62.5%!important }
}

@media only screen and (min-width:361px) 
{
    html { font-size: 70.31%!important }
}

@media only screen and (min-width:376px) /*iphone6*/
{ 
    html { font-size: 73.24%!important }
}

@media only screen and (min-width:481px) 
{
    html { font-size: 94%!important }
}

@media only screen and (min-width:561px) 
{
    html { font-size: 109%!important }
}

@media only screen and (min-width:641px) 
{
    html { font-size: 125%!important }
}
/*字体随屏幕变大变小*/
html,body{
    width: 100%;
    height: 100%;
}
header{
    background-color: lightblue;
    padding: 1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.content{
    text-align: center;
}
.content span{
    display: block;
    font-size: 10rem;
    padding: 5rem;
    margin-bottom: 1.5rem;
}
.content a button{
    font-size: 1.5rem;
    padding: 1rem 2rem;
}
.content a button:active{
    box-shadow: 3px 3px 3px orange inset;
}
.content a .two{
    background-color: darkorange;
    color: white;
}

/*footer*/
footer ul{
    padding: 0px;
}
footer ul li{
    list-style: none;
    margin-top: 1rem;
    text-align: center;
}
footer ul li span{
    font-size: 1.5rem;
}
footer ul li a{
    font-size: 1rem;
}
footer ul li a:hover{
    color: orange;
}
footer ul li:nth-child(3) a{
    color: orange;
}
